@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Bebas Neue', sans-serif;
}

:root {
    --bg-color: black;
    --second-bg-color: lightcoral;
    --text-color: white;
    --main-color: red;
    --transparent-color: rgba(0, 0, 0, 0);
}

html {
    font-size: 67%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color)
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 10%;
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 1rem;
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 4rem
    
}

.navbar a:hover {
    color: var(--main-color)
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
    transition: all 0.3s ease;
}

.navbar ul li a {
    color: var(--text-color);
}

